<div class="py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-semibold text-gray-900">Dashboard EPCI: <%= @epci_name %></h1>
      <span class="px-3 py-1 bg-indigo-100 text-indigo-800 rounded-full text-sm font-medium">
        Code EPCI: <%= @epci_code %>
      </span>
    </div>
    <%= render "epci_dashboard/population" %>
    <%= render "epci_dashboard/communes_births" %>
    <%= render "epci_dashboard/families" %>
    <%= render "epci_dashboard/communes_children" %>
    <%= render "epci_dashboard/schooling" %>
    <%= render "epci_dashboard/economic_data" %>
    <%= render "epci_dashboard/childcare" %>
    <%= render "epci_dashboard/family_employment" %>


  </div>
</div>
