<!DOCTYPE html>
<html>
  <head>
    <title>Territory Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "epci_dashboard", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", "data-turbo-track": "reload" %>

    <!-- JavaScript -->
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 flex flex-col min-h-screen">

    <%= render "layouts/navbar" %>

    <main class="flex-grow container mx-auto px-4 pt-24 pb-10">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>

  </body>
</html>


