<!DOCTYPE html>
<html>
  <head>
    <title>Territory Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "epci_dashboard", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "commune_dashboard", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", "data-turbo-track": "reload" %>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    <%= javascript_importmap_tags %>

    <!-- 🔧 AJOUT : Données dashboard si disponibles -->
    <% if defined?(@basic_info) && @basic_info.present? %>
      <script type="application/json" id="dashboard-info">
        {
          "commune_name": "<%= j(@basic_info[:commune_name]) %>",
          "territory_code": "<%= j(@basic_info[:territory_code]) %>",
          "epci_code": "<%= j(@basic_info[:epci_code]) %>",
          "is_commune_access_from_epci": <%= @basic_info[:is_commune_access_from_epci] %>
        }
      </script>
    <% end %>
  </head>

  <body class="bg-gray-100 flex flex-col min-h-screen">

    <%= render "layouts/navbar" %>

    <main class="flex-grow container mx-auto px-4 pt-24 pb-10">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>

  </body>
</html>
